* {
  box-sizing: border-box;
}
.app {
  background-color: rgb(19, 20, 23);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  padding: 1.4rem;
}

.app__content {
  border-radius: 5px;
  background-color: #fff;
  padding: 1.4rem;
  width: 100%;
  max-width: 450px;
  min-height: 400px;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
}

.app__title {
  text-align: center;
  font-size: 24px;
  margin: 0 0 1rem 0;
}

.app__logo {
  position: fixed;
  width: 100px;
  left: 1rem;
  bottom: 1rem;
}

img {
  max-width: 100%;
}
